
body{
    margin: 0%;
    font-family: "Poppins", sans-serif;
}

h1{

    font-size: 50px;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 30px;
}
.name{

    color: orange;
}

.weight{
    float: left;
    margin-left: 3%;
    padding-right: 2%;
    width: 42%;
     
         
}

.hight{
    
    float: left;
        margin-left: 3%;
        padding-right: 2%;
        width: 45%;
     
}
 .crop{
    width: 100%;
    
     }
.banner{
    background-image: url(image/top-banner.png);
    background-repeat: no-repeat;
}
section{
    height: 500px;
    padding-bottom: 150px;
}

.button{
    text-decoration: none;
     background-color: rgba(58, 188, 197, 0.568);
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    font-weight: 700;
}
.Dream{
    background-image: url(image/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.single{
    box-shadow: 10px 10px 30px gray;
    border-radius: 5px;
    height: 70%;
}

.exprence{
    background-image: url(image/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    margin: 2%;
}
  #pro{
    
    border-left: 7px solid ;
    border-image: linear-gradient(  #211e76, #c21c17) 30;
    border-image-slice: 1;}
  

  #nob{

    border-left: 7px solid;
    border-image: linear-gradient(#211e76, #c21c17) 30;
    border-image-slice: 1;
  }
  footer p{
    text-align: center;
    font-size: 12px;
  }